# bot
prefix: ";"
privateChannelPrefix: "!"
token:
testGuildId:
loggingChannelName:

# dashboard API
clientId: ""
secret: ""
apiRedirectUri: ""

# github
personalAccessToken:
repositoryName: ""

# database
connectionUrl: "jdbc:mysql://localhost/milobot"
user: "root"
password: ""