# bot
prefix: ";"
privateChannelPrefix: "!"
token:
testGuildId:
loggingChannelName:

# github
personalAccessToken:
repositoryName: ""

# paths
levelsJsonPath: /levels.json
wordleWordsPath: wordle_words.txt
monstersCsvPath: monsters.csv
hungerGamesPath: /hungergames

# database
connectionUrl: "jdbc:mysql://localhost/milobot"
user: "root"
password: ""

# imgur api
imgurClientId: ""
imgurClientSecret: ""